<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fc.v2.mapper.auto.AppointmentMapper">

    <resultMap type="com.fc.v2.model.auto.Appointment" id="AppointmentResult">
        <result property="id"    column="id"    />
        <result property="appointmentNo"    column="appointment_no"    />
        <result property="petId"    column="pet_id"    />
        <result property="serviceTypeId"    column="service_type_id"    />
        <result property="customerName"    column="customer_name"    />
        <result property="customerPhone"    column="customer_phone"    />
        <result property="appointmentTime"    column="appointment_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="status"    column="status"    />
        <result property="actualStartTime"    column="actual_start_time"    />
        <result property="actualEndTime"    column="actual_end_time"    />
        <result property="amount"    column="amount"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="petName"    column="pet_name"    />
        <result property="serviceName"    column="service_name"    />
    </resultMap>

    <sql id="selectAppointmentVo">
        select a.id, a.appointment_no, a.pet_id, a.service_type_id, a.customer_name, a.customer_phone, 
               a.appointment_time, a.end_time, a.status, a.actual_start_time, a.actual_end_time, 
               a.amount, a.remark, a.create_by, a.create_time, a.update_by, a.update_time,
               p.name as pet_name, s.name as service_name
        from t_appointment a
        left join t_pet p on a.pet_id = p.id
        left join t_service_type s on a.service_type_id = s.id
    </sql>

    <select id="selectAppointmentById" resultMap="AppointmentResult" parameterType="Long">
        <include refid="selectAppointmentVo"/>
        <where>  
            a.id = #{id}
        </where>
    </select>

    <select id="selectAppointmentList" resultMap="AppointmentResult">
        <include refid="selectAppointmentVo"/>
        <where>  
            <if test="param1.petId != null "> and a.pet_id = #{param1.petId}</if>
            <if test="param1.customerName != null  and param1.customerName != ''"> and a.customer_name like concat('%', #{param1.customerName}, '%')</if>
            <if test="param1.customerPhone != null  and param1.customerPhone != ''"> and a.customer_phone = #{param1.customerPhone}</if>
            <if test="param1.status != null  and param1.status != ''"> and a.status = #{param1.status}</if>
            <if test="param2 != null"> and a.appointment_time <![CDATA[ >= ]]> #{param2}</if>
            <if test="param3 != null"> and a.appointment_time <![CDATA[ <= ]]> date_add(#{param3}, interval 1 day)</if>
        </where>
        order by a.appointment_time desc
    </select>

    <select id="selectAppointmentDetailById" resultMap="AppointmentResult" parameterType="Long">
        <include refid="selectAppointmentVo"/>
        <where>  
            a.id = #{id}
        </where>
    </select>

    <select id="checkTimeConflict" resultMap="AppointmentResult">
        <include refid="selectAppointmentVo"/>
        <where>  
            a.status != '4'
            and a.appointment_time &lt; #{endTime}
            and a.end_time &gt; #{startTime}
            <if test="excludeId != null"> and a.id != #{excludeId}</if>
        </where>
    </select>

    <select id="selectAppointmentByPetId" resultMap="AppointmentResult" parameterType="Long">
        <include refid="selectAppointmentVo"/>
        <where>  
            a.pet_id = #{petId}
        </where>
        order by a.appointment_time desc
    </select>

    <select id="countAppointmentsByDateRange" resultType="java.lang.Integer">
        select count(*) from t_appointment
        where appointment_time &gt;= #{startDate}
        and appointment_time &lt; date_add(#{endDate}, interval 1 day)
        and status != '4'
    </select>

    <select id="countAppointmentsByStatus" resultType="java.lang.Integer">
        select count(*) from t_appointment
        where status = #{status}
    </select>

    <select id="countAppointmentsGroupByDate" resultType="com.fc.v2.model.custom.DailyTrendVO">
        select 
            date_format(appointment_time, '%Y-%m-%d') as date,
            count(*) as appointmentCount
        from t_appointment
        where appointment_time &gt;= #{startDate}
        and appointment_time &lt; date_add(#{endDate}, interval 1 day)
        and status != '4'
        group by date_format(appointment_time, '%Y-%m-%d')
        order by date asc
    </select>

</mapper>
